<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pantalla-encuesta"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <img src="../../assets/icon/bitmap.svg" height="50px" width="50px" />
      Análisis por Tiempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <canvas #atrChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <canvas #objChart></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>
