<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-inline: 0px">
      <img src="../../assets/icon/bitmap.svg" height="50px" width="50px" />
      Encuesta de Atributos de Egreso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    En esta página podrá llenar una encuesta para llenar su satisfación con los
    atributos de egreso de los alumnos del ITTEPIC
  </ion-item>
  <ion-accordion-group>
    <ion-accordion
      value="first"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Lista de Atributos de Egreso (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-list [inset]="true">
          <ion-item *ngFor="let at of atributosISC">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label class="ion-text-wrap">&nbsp;{{at}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-accordion>
    <ion-accordion
      value="second"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Objetivos Educacionales (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-list [inset]="true">
          <ion-item *ngFor="let ob of objetivosISC">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label class="ion-text-wrap">&nbsp;{{ob}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item> Encuesta </ion-item>
  <ion-item
    >Seleccione su nivel de satisfacción, un número mayor indica un mejor nivel
    de desempeño</ion-item
  >
  <ion-accordion-group>
    <ion-accordion
      value="third"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Encuesta de Atributos de Egreso (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content" style="justify-content: center;">
        <form [formGroup]="formAtributos">
          <ion-grid [fixed]="true">
            <ion-row *ngFor="let at of atributosISC; let i = index ">
              <ion-col>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h2>Atributo {{i+1}}</h2>
                    <p>{{at}}</p>
                  </ion-label>
                </ion-item>
                <ion-range
                  formControlName="atributo_{{i}}"
                  [pin]="true"
                  [ticks]="true"
                  [snaps]="true"
                  [min]="-5"
                  [max]="5"
                  step="1"
                  name="atributo_{{i}}"
                  (ionChange)="sliderChange(i)"
                >
                  <ion-icon name="sad" slot="start"></ion-icon>
                  <ion-icon name="happy" slot="end"></ion-icon>
                </ion-range>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-button
                expand="block"
                fill="outline"
                size="large"
                (click)="formAtrCheck()"                
              >Entregar Encuesta
              </ion-button>
            </ion-row>
          </ion-grid>
        </form>

      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
