<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-inline: 0px">
      <img src="../../assets/icon/bitmap.svg" height="50px" width="50px" />
      Encuesta de Atributos de Egreso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    En esta página podrá llenar una encuesta para llenar su satisfación con los
    atributos de egreso de los alumnos del ITTEPIC
  </ion-item>
  <ion-accordion-group>
    <ion-accordion
      value="first"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Lista de Atributos de Egreso (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-list [inset]="true">
          <ion-item *ngFor="let at of atributosISC">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label class="ion-text-wrap">&nbsp;{{at}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-accordion>
    <ion-accordion
      value="second"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Objetivos Educacionales (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-list [inset]="true">
          <ion-item *ngFor="let ob of objetivosISC">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label class="ion-text-wrap">&nbsp;{{ob}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item> Encuesta </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      Para llenar una encuesta, seleccione su nivel de satisfacción, un número
      mayor indica un mejor nivel de desempeño
    </ion-label>
    <ion-button shape="round" (click)="irAResultados()"
      >Visualizar Resultados</ion-button
    >
  </ion-item>
  <ion-accordion-group>
    <ion-accordion
      value="third"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Encuesta de Atributos de Egreso (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content" style="justify-content: center">
        <form [formGroup]="formAtributos">
          <ion-grid [fixed]="true">
            <ion-row size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-col >
                <ion-item>
                  <ion-label position="stacked">Correo (opcional)</ion-label>
                  <ion-input
                  type="email"
                  placeholder="email@domain.com"
                  inputmode="email"
                  formControlName="email"
                  ></ion-input>
                  <ion-note slot="helper">Enter a valid email</ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="formItem" *ngFor="let at of atributosISC; let i = index ">
              <ion-col>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <h2>Atributo {{i+1}}</h2>
                      <p>{{at}}</p>
                    </ion-text>
                  </ion-label>
                </ion-item>
                <ion-range
                  formControlName="atributo_{{i}}"
                  [pin]="true"
                  [ticks]="true"
                  [snaps]="true"
                  [min]="-5"
                  [max]="5"
                  step="1"
                  name="atributo_{{i}}"
                  (ionChange)="sliderChange(i)"
                >
                  <ion-icon name="sad" slot="start"></ion-icon>
                  <ion-icon name="happy" slot="end"></ion-icon>
                </ion-range>
              </ion-col>
              <ion-col>
                <ion-textarea 
                placeholder="Escriba aquí algún comentario con respecto al atributo {{i+1}} (opcional)"
                [autoGrow]="true"
                formControlName="a{{i}}Comentario"
                name="a{{i}}Comentario"
                ></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="formItem">
              <ion-button
                expand="block"
                fill="outline"
                size="large"
                (click)="formAtrCheck()"
                >Entregar Encuesta
              </ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
  <ion-accordion-group>
    <ion-accordion
      value="fourth"
      toggleIcon="caret-down-sharp"
      toggleIconSlot="end"
    >
      <ion-item slot="header" class="accordionHeader">
        <ion-label>Encuesta de Objetivos Educacionales (ISC)</ion-label>
      </ion-item>
      <ion-item slot="content" style="justify-content: center">
        <form [formGroup]="formObjetivos">
          <ion-grid [fixed]="true">
            <ion-row size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-col >
                <ion-item>
                  <ion-label position="stacked">Correo (opcional)</ion-label>
                  <ion-input
                  type="email"
                  placeholder="email@domain.com"
                  inputmode="email"
                  formControlName="email"
                  ></ion-input>
                  <ion-note slot="helper">Enter a valid email</ion-note>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let at of objetivosISC; let i = index ">
              <ion-col>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <ion-text>

                      <h2>Objetivo {{i+1}}</h2>
                      <p>{{at}}</p>
                    </ion-text>
                  </ion-label>
                </ion-item>
                <ion-range
                  formControlName="objetivo_{{i}}"
                  [pin]="true"
                  [ticks]="true"
                  [snaps]="true"
                  [min]="-5"
                  [max]="5"
                  step="1"
                  name="objetivo_{{i}}"
                  (ionChange)="sliderChange(i)"
                >
                  <ion-icon name="sad" slot="start"></ion-icon>
                  <ion-icon name="happy" slot="end"></ion-icon>
                </ion-range>
              </ion-col>
              <ion-col>
                <ion-textarea 
                placeholder="Escriba aquí algún comentario con respecto al atributo"
                [autoGrow]="true"
                ></ion-textarea>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-button
                expand="block"
                fill="outline"
                size="large"
                (click)="formObjCheck()"
                >Entregar Encuesta
              </ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
