<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/bitmap.svg" height="50px" width="50px" />
      Pantalla Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button shape="round" expand="block" (click)="loginModal()">
    <ion-item> Ir a objetos virtuales </ion-item>
  </ion-button>
  <ion-button shape="round" expand="block" (click)="irAEncuesta()">
    <ion-item> Ir a encuesta </ion-item>
  </ion-button>
  <!--Login-->
  <ion-grid>
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input
              inputmode="email"
              type="email"
              formControlName="email"
              placeholder="correo@ittepic.edu.mx.com"
            ></ion-input>
            <ion-note
              *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched)"
              slot="error"
              >Ingrese un correo válido</ion-note
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              placeholder="contraseña"
            ></ion-input>
            <ion-note
              *ngIf="(loginForm.get('password').dirty || loginForm.get('password').touched)"
              slot="error"
              >Ingrese una contraseña</ion-note
            >
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="basicLogin()">
          <ion-item>Ingresar</ion-item>
        </ion-button>        
        <ion-icon name="logo-google" (click)="googleLogin()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-button shape="round" expand="block" (click)="obtenerUsuario()">
      <ion-item> Current user </ion-item>
    </ion-button>
    <ion-button shape="round" expand="block" (click)="salir()">
      <ion-item> Logout </ion-item>
    </ion-button>
  </ion-grid>
</ion-content>
