<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/bitmap.svg" height="50px" width="50px" />
      Pantalla Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button shape="round" expand="block" (click)="loginModal()">
    <ion-item> Ir a objetos virtuales </ion-item>
  </ion-button>
  <ion-button shape="round" expand="block" (click)="irAEncuesta()">
    <ion-item> Ir a encuesta </ion-item>
  </ion-button>
  <!--Login-->
</ion-content>
