ion-alert.div{
    background-color: #FFF;
}
ion-select{    
        color: #002e6b !important;
        text-align: center;
        label{
            opacity: 1 !important;
        }
}
ion-list{
    --color-hover: #002e6b;

}
ion-textarea{
    background: #f6f6f6;
    border-radius: 5px;
}
ion-row{
    ion-grid{
        margin-top: 5px;
        ion-col{
            margin-left: 5px;
        }
    }
    padding: 8px;
    ion-label{
        font-size: 20px;
        max-width: fit-content;
    }
}
ion-label{
    padding: 10px;
}
ion-item{
    ion-label{
        max-width: fit-content;
    }
}
ion-text{
    font-size: 18px;
}